{% extends "base.html" %}
{% block content %}
<div class="form-container col-4">
  <h2>Welcome to FlaskTaskr.</h2>
  <small>Please login to access your task list.</small>

  <form method="post" action="/">
    {{ form.csrf_token }}
    <div class="input-group">
      {{ form.name.label }}
      {{ form.name }}
    </div>
    <div class="input-group">
      {{ form.password.label }}
      {{ form.password }}
    </div>
    <div class="input-group">
      <button class="btn btn-secondary" type="submit">Submit</button>
    </div>
  </form>

  <div>
    <em>Need an account? </em><a href="/register">Signup!!</a>
  </div>
</div>
{% endblock %}
